/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/.idea/
.idea/*
.idea/*.xml
.idea/encoding.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml.xml
.idea/*.iml
.idea/sfGitCollab.iml
/composer.phar
.idea/workspace.xml
/.idea/workspace.xml