{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="notify successbox">
                <h1 class="text-center">Success!</h1>
                <span class="alerticon"><img src="http://s22.postimg.org/i5iji9hv1/check.png" alt="checkmark" class="center-block" /></span>
                <p class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                {% if targetUrl %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
