{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/front/main.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        {#{% include "FrontBundle:Slots:search-form-frontend.html.twig" %}#}
        {% render(controller('FrontBundle:Advert:search')) %}
    </div>
    {% block content %}

    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/front/scrollup.js') }}"></script>
{% endblock %}