{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/front/main.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        {#{% include "FrontBundle:Search:search-form-frontend.html.twig" %}#}
        {#{% render(controller('FrontBundle:Advert:searchFormGet')) %}#}
    </div>
    {% block content %}

    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/front/scrollup.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            /*-----------------------------------------------------
             :: HIDE FLASHMESSAGE
             -----------------------------------------------------*/
            $('.alert').fadeOut(3000, function(){
                $(this).remove();
            });
        });
    </script>
{% endblock %}